In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data
data_url = "https://cdn.theforage.com/vinternships/companyassets/ifobHAoMjQs9s6bKS/5XsFFJu2oCLdmYJW2/1654309626143/Online%20Retail%20Data%20Set.xlsx"

df = pd.read_excel(data_url)

In [6]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [4]:
df.shape

(541909, 8)

In [10]:
# check quantity should not be below 1 unit
df1 = df.query("Quantity >= 1")
df1.shape

(531285, 8)

In [11]:
# check unit price should not be below $0
df2 = df1.query("UnitPrice > 0")
df2.shape

(530104, 8)

In [14]:
# check missing values
df2.InvoiceNo.value_counts()

573585    1114
581219     749
581492     731
580729     721
558475     705
          ...
574320       1
539081       1
574324       1
566009       1
570725       1
Name: InvoiceNo, Length: 19960, dtype: int64

In [15]:
df2.StockCode.value_counts()

85123A      2265
85099B      2112
22423       2017
47566       1706
20725       1595
            ...
DCGS0004       1
84705C         1
20964          1
72803b         1
23843          1
Name: StockCode, Length: 3922, dtype: int64

In [16]:
df2.CustomerID.value_counts()

17841.0    7847
14911.0    5675
14096.0    5111
12748.0    4595
14606.0    2700
           ...
18184.0       1
13185.0       1
16073.0       1
17948.0       1
17846.0       1
Name: CustomerID, Length: 4338, dtype: int64

In [17]:
df2.to_csv("../data/cleaned_sales_data.csv", index=False)